html, body, form { margin: 0; padding: 0; }
/* 1-box Rules 
   2-border rules
   3-background rules
   4-text rules*/
h2 {
	display: inline-block;
    
    width: 50%;

    margin-left: 1.5em;

	  font-family: 'Satisfy', cursive;
    font-size: 2.5em;
    /*text-align: center;*/
    
    color: white;
} 
p {
  line-height: 1.5em;
  word-spacing: 5px;
  /*color: #4A463B;*/
  color: #242322;
  font-size: 1.3em;	
}
/*===================*/
img {
	max-width: 96%;
	max-height: 96%;

    border-radius: 15px;

    display: block;

	padding: 10px;
}

i {
	font-size:24px;
}
